/* 통합자산관리 */

.fnmg03-tit {
    color: #333;
    text-align: center;
    font-size: rem(20);
    line-height: rem(26);
    letter-spacing: rem(-0.4);
    font-weight: 500;
}

.fnmg03-dec {
    color: #1C64F2;
    font-size: rem(15);
    font-weight: 500;
    line-height: rem(22);
    text-align: center;
    margin-top: rem(20);
}

.fnmg03-bg {
    width: 100%;
    aspect-ratio: 16 / 8.7;
    max-width: rem(640);
    background: url("../img/theme/apthefin/bg_fnmg03.png") no-repeat 0 0;
    background-size: cover;
    display: block;
    margin: rem(20) auto 0;
}

.fnmg04 {
    ~ .fix_bottom {
        bottom: -100%;
    }

    .left {
        position: relative;
    }
}

.fnmg04-bg {
    display: block;
    width: rem(178);
    aspect-ratio: 356 / 220;
    background: url("../img/theme/apthefin/bg_fnmg04.png") no-repeat 0 0;
    background-size: cover;
    margin-left: auto;
    margin-top: rem(-20);
    pointer-events: none;
}

.wrap_certi_way {
    .tab_certi .tabs_header.type2 ul li {
        width: auto;
        min-width: 0;

        &:not(:first-of-type) {
            margin-left: rem(10);
        }
    }

    .tabs_header.type2 ul li a {
        padding-left: rem(15);
        padding-right: rem(15);
    }

    .tab_certi .tabs_header.type2 ul li.on a span {
        color: #3E5FAC;
        font-weight: 700;
    }
}

.bgAssSearch {
    width: 100%;
    aspect-ratio: 16/16.889;
    background: url("../img/theme/apthefin/bg_ass_search.png") no-repeat 0 0;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 36.2162162162%;
}

.fullColumFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 0 !important;

    > div {
        flex-shrink: 0;
    }

    .fix_bottom {
        position: relative;
        .btn_wrap {padding-left:0;padding-right:0}
    }

    .wrap_err_info {
        margin: 0;
    }

    .tit2_wrap + .wrap_complete {
        margin: rem(40) 0;
    }
}

.wrap_complete .ico_complete.fail {
    background-image: url("../img/theme/apthefin/ic_complete_fail_old.png");
}

/* 프로필 관리 */

.userProfile-tit {
    font-size: rem(14);
    color: #333;
    font-weight: 700;
    line-height: rem(22);
    margin-top: rem(30);
}

.userProfile-box {
    display: flex;
    justify-content: space-between;
    gap: 0 rem(20);
    align-items: center;
    .btn-complete {display: none}
}

.userProfile-infoBox {
    width: 100%;
}

.userProfile-info {
    display: flex;
    height: rem(50);
    justify-content: space-between;
    align-items: center;
}
.userProfile-inp {
    border-bottom:0;
    background: transparent;
}

.userProfile-thum {
    width: rem(50);
    height: rem(50);
    border: rem(1) solid #E5E5E5;
    border-radius: 50%;
    background-image: url("../img/theme/apthefin/icon/ic_profile_thum.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    flex-shrink: 0;
    margin-top: rem(6);
}

.userProfile-editThum {
    position: absolute;
    overflow: hidden;
    text-indent: rem(-100);
    font-size: 0;
    display: none;
    background: url("../img/theme/apthefin/icon/ic_edit_profile.png") no-repeat;
    background-size: cover;
    width: rem(24);
    height: rem(24);
    left: rem(30);
    top: rem(30);
}

.userProfile-edit {
    display: inline-flex;
    align-items: center;
    font-size: rem(14);
    color: #999;
    line-height: rem(22);
    margin-left: rem(2);

    &:before {
        content: "";
        width: rem(16);
        height: rem(16);
        background: url("../img/theme/apthefin/icon/ic_edit_square.png") no-repeat;
        background-size: cover;
        display: inline-block;
    }
}

.userProfile-inp {
    height: rem(50);
    width: 100%;
    border: none;
    border-bottom: rem(1) solid #E5E5E5;
    font-size: rem(16);
    line-height: rem(24);
    color: #333;
}

.userProfile-name {
    flex-shrink: 0;
    font-size: rem(16);
    color: #333;
    line-height: rem(24);
}

.userProfile-infoFeed {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(14);
    height: rem(30);
    border: rem(1) solid #E5E5E5;
    border-radius: rem(30);
    font-size: rem(13);
    line-height: rem(18);
    color: #666;
}

.userProfile-box.-edit {
    .btn-complete {display:flex}
    ._edit-profile {display:none}
    .userProfile-inp {border-bottom:1px solid #e5e5e5}
    .userProfile-editThum, .userProfile-inp {
        display: block;
    }

    .userProfile-name, .userProfile-edit {
        display: none;
    }

    .userProfile-infoFeed {
        margin-top: rem(10);
    }
}

.btn-complete {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBF5FF;
    border-radius: rem(6);
    color: #1C64F2 !important;
    position: relative;
    font-size:rem(13);
    font-weight:500;
    height: rem(34);
    width: rem(70);
    padding: 0 rem(12);
    flex-shrink: 0;
}

.multiProfile-empty {
    text-align: center;
    font-size: rem(14);
    line-height: rem(22);
    color: #999;
    padding:rem(20) 0;
    &:before {
        content:"";
        @include iconTriCaution;
        display:block;
        margin:0 auto rem(20);
    }
}

.multiProfile-list {
    padding-top: rem(10);

    .userProfile {
        margin-bottom: rem(20);
    }
}

.iconPlus-whit {
    display: inline-block;
    width: rem(16);
    height: rem(16);
    background: url("../img/theme/apthefin/bt_plus.png") no-repeat 0 0;
    background-size: cover;
}

.btnBl1 .iconPlus-whit {
    margin-right: rem(4);
}

.layer_cont .userProfile-tit {
    margin-top: rem(10);
}

.userProfile-chkAsset {
    position: absolute;
    right: rem(20);
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(16);
    line-height: rem(24);
    color: #666;
    align-items: center;
}

.accItem {
    .-hide {
        display: flex;
    }

    .-show {
        display: none;
    }

    &.-hideProfile {
        background: #F1F2F5;

        .-hide {
            display: none;
        }

        .-show {
            display: flex;
        }
    }

    .-hide:before {
        content: "";
        display: inline-block;
        width: rem(32);
        height: rem(32);
        background: url("../img/theme/apthefin/icon/ic_profile_menu.png") no-repeat 0 0;
        background-size: cover;
        margin-right: rem(15);
    }
}

.asList .flex .amount:after {
    display: none;
}

.userProfile-assetList {
    padding-bottom:rem(60);
    .ins1Link_wrap {margin-top:rem(35)}
    .asGroup {
        .asList {
            .amount em {
                font-size: rem(16);
            }

            margin-top: rem(10);
        }

        .listTit + .asList {
            margin-top: rem(15);
        }

        + .asGroup {
            padding-top: 0;
        }
    }
}


.certStep {
    &-item {
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding:rem(20) rem(20) rem(20) rem(80);
        border:rem(1) solid #E5E5E5;
        border-radius: rem(16);
        position: relative;
        &:before {
            content:"";
            display:block;
            position: absolute;
            left:rem(20);
            top:50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size:cover;
            width:rem(48);height:rem(64);
        }
        &:not(:last-of-type){
            margin-bottom:rem(40);
            &:after {
                content:"";
                display: block;
                @include iconArrow();
                position: absolute;
                left:50%;
                bottom:rem(-30);
                transform: translateX(-50%) rotate(90deg);
            }
        }
    }
    &-tit {
        font-size:rem(16);
        font-weight:700;
        line-height:rem(24);
        color:#333;
    }
    &-dec {
        font-size:rem(13);
        font-weight: 400;
        line-height: rem(18);
        margin-top:rem(4);
        color:#999;
    }
    &-link {
        display:inline-flex;
        color:#1c64f2;
        font-size:rem(13);
        line-height:rem(18);
        margin-top:rem(4);
        align-items: center;
        &:visited {
            color:#1c64f2;
        }
        &:after {
            content:"";
            display: block;
            background:url("../img/theme/apthefin/ic_invest_down.svg") no-repeat 0 0;
            @include iconTriangle($color:#1C64F2);
            margin-left:rem(2);
        }
    }
    &.-naver {
        .-step01:before {
            background-image: url("../img/theme/apthefin/bg_certStep_naver_step01.png");
        }
        .-step02:before {
            background-image: url("../img/theme/apthefin/bg_certStep_naver_step02.png");
        }
        .-step03:before {
            background-image: url("../img/theme/apthefin/bg_certStep_naver_step03.png");
        }
    }
    &.-kakao {
        .-step01:before {
            background-image: url("../img/theme/apthefin/bg_certStep_kakao_step01.png");
        }
        .-step02:before {
            background-image: url("../img/theme/apthefin/bg_certStep_kakao_step02.png");
        }
        .-step03:before {
            background-image: url("../img/theme/apthefin/bg_certStep_kakao_step03.png");
        }
    }
}
