@charset "UTF-8";
@mixin icon {
  background-position: 0 0;
  background-size:cover;
  background-repeat: no-repeat;
}
@mixin iconTriCaution {
  width:32px;
  height:32px;
  @include icon();
  background-image: url("../img/theme/apthefin/icon/ic_tri_caution.png");
}

@mixin iconArrowDown($type:normal) {
  width:24px;
  height:24px;
  @include icon();
  background-image:url("../img/theme/apthefin/icon/ic_down.png");
  @if ($type == blue) {
    stroke: #3e5fac;
  }
}

@mixin iconShdLock {
  width:24px;
  height:24px;
  @include icon();
  background-image:url("../img/theme/apthefin/icon/ic_lock_shd.png");
}

@mixin iconSmMap {
  width:16px;
  height:16px;
  @include icon();
  background-image:url("../img/theme/apthefin/icon/ic_sm_map.png");
}

@mixin iconFav {
  width:24px;
  height:24px;
  @include icon();
  background-image: url("../img/theme/apthefin/icon/ic_fav.png");
}

@mixin iconFav_on {
  width:24px;
  height:24px;
  @include icon();
  background-image: url("../img/theme/apthefin/icon/ic_fav_on.png");
}

@mixin iconEdit {
  width:16px;
  height:16px;
  @include icon();
  background-image: url('../img/theme/apthefin/icon/ic_edit_square.png');
}

@mixin iconTrash {
  width:16px;
  height:19px;
  @include icon();
  background-image:url('../img/theme/apthefin/icon/ic_trash.png');
}

@mixin iconTooltip {
  width:16px;
  height:16px;
  @include icon();
  background-image:url('../img/theme/apthefin/icon/ic_tooltip.png');
}


@mixin iconBtnMore {
  width:18px;
  height:18px;
  @include icon();
  background-image:url('../img/theme/apthefin/icon/ic_btnMore.png');
}
@mixin iconArrow16x16($type:normal) {
  width:16px;
  height:16px;
  @include icon();
  mask-image: url('../img/theme/apthefin/svg/ic_arrow_black.svg');
  @if($type==normal){
    background-color:#17181A;
  }@else if($type == blue){
    background-color:#3E5FAC;
  }
  @if($type == bold) {
    mask-image: url('../img/theme/apthefin/svg/ic_arrow_bold.svg');
    background-color:#17181A;
  }
}
@mixin iconArrow18x18($type:default){
  width:18px;
  height:18px;
  @include icon();
  mask-image:url('../img/theme/apthefin/svg/ic_arrow18x18.svg');
  @if($type==default){
    background-color:#455057;
  }@else {
    background-color:$type;
  }
}

@mixin iconArrowPlan {
  @include iconArrow18x18();
}

@mixin iconPaperColor {
  width:20px;
  height:20px;
  @include icon();
  background-image: url('../img/theme/apthefin/icon/ic_paper_color.png');
}

@mixin iconSpeedBar {
  width:20px;
  height:20px;
  @include icon();
  background-image: url('../img/theme/apthefin/icon/ic_speed_bar.png');
}

@mixin iconBankType {
  width:40px;
  height:40px;
  @include icon();
  background-image: url('../img/theme/apthefin/icon/ic_bank_type.png');
}

@mixin iconCardType {
  width:40px;
  height:40px;
  @include icon();
  background-image: url('../img/theme/apthefin/icon/ic_card_type.png');
}

@mixin iconCheck($chk:ready) {
  width:20px;
  height:20px;
  @include icon();
  background-image:url('../img/theme/apthefin/ic_circle_chk.png');
  @if($chk == checked){
    background-image:url('../img/theme/apthefin/ic_circle_chk_on.png');
  }
}