@charset "UTF-8";

@mixin iconTriCaution {
  width:32px;
  height:32px;
  background:url("../img/theme/apthefin/icon/ic_tri_caution.png") no-repeat 0 0;
  background-size:cover;
}

@mixin iconArrowDown {
  width:24px;
  height:24px;
  background:url("../img/theme/apthefin/icon/ic_down.png") no-repeat 0 0;
  background-size:cover;
}