.insp__intro {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url("../img/insp/img_intro.png") no-repeat 0 0;
    pointer-events: none;
}

.insp {
    .agChkLst.no-border {
        padding: 0;
        border: none;
        margin: rem(10) 0 0 0;

        .agChkSubList {
            border-top: none;
            margin-top: 0;
        }
    }

    .no-border .agChkItem.all label {
        border-bottom: rem(1) solid #eee;
        padding-bottom: rem(19);
    }

    .accSetting .editName.flex {
        display: flex;
        gap: 0 rem(9);

        .sel_form {
            flex-shrink: 0;
            min-width: rem(105);
        }

        input {
            height: rem(52);
        }

        .sel_box {
            gap: 0 rem(6);
        }

        .btnBl1 {
            flex-shrink: 0;
            min-width: rem(105);
        }
    }
}

.inp_caution {
    position: relative;
    padding-left: rem(20);
    font-size: rem(13);
    color: #666;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: rem(16);
        height: rem(16);
        background: url("../img/theme/apthefin/ico_caution.png") no-repeat 0 0;
        background-size: cover;
    }
}

.mgt40 {
    margin-top: rem(40) !important;
}

.insp .agTx h3 {
    font-size: rem(20);
}

.insp__06-img {
    display: block;
    vertical-align: top;
    width: 100%;
    pointer-events: none;
}

.insp__06-banner {
    display: block;
    width: calc(100vw - rem(48));
    margin: rem(15) auto;
    background: #fff4f2;
    border-radius: rem(11);
}

.insp .link_txt {
    margin-top: rem(15);
    color: #333;
    font-size: rem(14);
    display: block;

    &:after {
        content: "";
        display: inline-block;
        width: rem(14);
        height: rem(15);
        background: url("../img/theme/apthefin/ic_link_arrow.png") no-repeat 0 0;
        background-size: cover;
        vertical-align: text-top;
    }
}

.insp__08 {
    display: block;
    vertical-align: top;
    width: 100%;
}

.insp {
    .fix_bottom.bottom {
        bottom: rem(-80);
    }

    .btnGroup.type_col p ~ p {
        margin-top: rem(20);
        padding: rem(20) 0 0 0;
    }
}

.insp__tit {
    font-size: rem(16);
    margin-bottom: rem(10);
    line-height: rem(24);
    font-weight: 700;
}

.insp .org_list_certi {
    .org_name_wrap .org_name .name {
        line-height: 1;
        width: 100%;
        padding: 0 rem(15) 0 rem(12);

        span {
            display: block;
            line-height: rem(22);
            font-size: rem(14);
        }

        strong {
            display: block;
            text-align: right;
            line-height: rem(24);
            font-size: rem(16);
        }
    }

    + .org_list_certi {
        margin-top: rem(10);
    }
}

.cautionBox {
    background-color: #f1f2f5;
    padding: rem(25) rem(20);
    margin-left: rem(-20);
    margin-right: rem(-20);
}

.cautionBox__tit {
    font-size: rem(15);
    font-weight: 500;
    line-height: rem(22);
    color: #333;
}

.cautionBox__list {
    margin-top: rem(15);
    font-size: rem(13);

    li {
        line-height: rem(18);
        padding-left: rem(18);
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: rem(6);
            top: rem(8);
            width: rem(4);
            height: rem(4);
            border-radius: 50%;
            background-color: #b3b3b3;
        }
    }
}

.iconHome {
    background: url("../img/ic/ic_home.png") no-repeat 0 0;
    width: rem(24);
    height: rem(24);
    background-size: cover;

    &.active {
        background: url("../img/ic/ic_home_chk.png") no-repeat 0 0;
        width: rem(24);
        height: rem(24);
        background-size: cover;
    }
}

.iconCal {
    background: url("../img/ic/ic_cal.png") no-repeat 0 0;
    width: rem(24);
    height: rem(24);
    background-size: cover;
}

.iconMyPage {
    background: url("../img/ic/ic_my.png") no-repeat center rem(10);
    background-size: rem(24) rem(24);

    &.active {
        background: url("../img/ic/ic_my_chk.png") no-repeat center rem(10);
        background-size: rem(24) rem(24);
    }
}

.iconArrowUp {
    background: url("../img/ic/ic_arw_ag.png") no-repeat 0 0;
    background-size: cover;
    width: rem(6);
    height: rem(11);
    transform: rotate(-90deg);
    display: inline-block;
}

.insp.dock_bar ul li a {
    .tx {
        color: #9ba4ab;
        font-weight: 500;
    }

    &.active .tx {
        color: #172733;
    }
}

.insp__14 {
    display: block;
    vertical-align: top;
    width: 100%;
}

.insp .asGroup .asList .amount:after {
    position: absolute;
    right: rem(29);
}

.accHistory .topCtrl .btnFilter, .btnFilter.iconFilter {
    display: inline-block;
    width: rem(20);
    height: rem(20);
    background: url("../img/ic/ic_filter.png") no-repeat 0 0;
    background-size: cover;
}

.insp .insLinkList li {
    border-bottom: rem(1) solid #f7f7f7;

    + li {
        border-top: none;
    }
}

.myPageEmailBox {
    border: rem(1) solid #eee;
    border-radius: rem(10);
    padding: rem(20) rem(56) rem(20) rem(20);
    display: block;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: rem(6);
        height: rem(11);
        background: url("../img/ic/ic_arw_ag.png");
        background-size: cover;
        right: rem(20);
        top: calc(50% - rem(5));
    }
}

.myPageEmailBox__name {
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(24);
}

.myPageEmailBox__email {
    font-family: Lato;
    font-size: rem(16);
    font-weight: 700;
    line-height: rem(24);
}

.insp__cert {
    display: block;
    width: 100%;
    vertical-align: top;
    pointer-events: none;
}
