@charset "UTF-8";

.intro {
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width:100%;
  text-align:center;
  padding-bottom:rem(110);
  &-tit {
    font-size:rem(30);
    font-weight:700;
    line-height:rem(36);
    letter-spacing: rem(-0.6);
    color:#333;
  }
  &-dec {
    font-size:rem(14);
    line-height:rem(22);
    color:#666;
    margin-top:rem(6);
    height:rem(66);
  }
  &-img {
    display:block;
    width:rem(280);
    height:rem(344);
    background:#ccc;
    margin:rem(20) auto 0;
  }
  .slider_container {
    .slick-dots li button {
      width:rem(6);
      height:rem(6);
      border-radius:50%;
    }
    .slick-dots li.slick-active button {
      background-color:#434655;
    }
  }
}
.introBtnLast {
  bottom:rem(41);
  margin:0 !important;
}
