@charset "UTF-8";

.intro {
  position: fixed;
  left:50%;
  //top:50%;
  transform: translateX(-50%);
  width:100%;
  text-align:center;
  //padding-bottom:rem(110);
  height: 100%;
  &-tit {
    font-size:rem(30);
    font-weight:700;
    line-height:rem(36);
    letter-spacing: rem(-0.6);
    color:#333;
    padding-top: rem(80);
  }

  &-dec {
    font-size:rem(14);
    line-height:rem(22);
    color:#666;
    margin-top:rem(6);
    height:rem(66);
  }
  &-img {
    display:flex;
    width:100%;
    height:auto;
    //background:#ccc;
    margin:rem(40) auto 0;
    justify-content: center;
    img {
      width:rem(306);
      margin-left:rem(26);
    }
 }
  .slider_container {
    .slick-dots li button {
      width:rem(6);
      height:rem(6);
      border-radius:50%;
    }
    .slick-dots li.slick-active button {
      background-color:#434655;
    }
  }

  .slick-dots {
    position: absolute !important;
    top: rem(200);
    left: 0;
    margin-top: 0 !important;
  }
}
.introBtnLast {
  bottom:rem(41);
  margin:0 !important;
}
