@charset "UTF-8";

.bbsList {
  .accBox {
    &:not(:first-of-type) {
      margin-top:rem(20);
    }
    &-date {
      display:block;
      font-size:rem(13);
      font-weight:400;
      line-height:rem(18);
      color:#999;
      margin-bottom:rem(4);
    }
    &-tit {
      font-size:rem(16);
    }
    &-inner {
      font-size:rem(13);
      line-height:rem(18);
      color:#666;
      img {max-width:100%;margin:rem(20) 0;}
    }
  }
}

