@charset "UTF-8";

$gray : #6f7a81;
$black : #17181A;

.plan {
  &Tit {
    font-size:rem(20);
    line-height:1.4;
    font-weight:500;
    color:$black;
    position: relative;
    &.-bold {font-weight:600}
    &__bold {font-size:rem(22);}
    strong {
      font-weight:700;
    }
    span {
      position: relative;
      color:#ff3e3e;
      &:before {
        content:"";
        width:100%;
        height:rem(4);
        background:#fcc;
        position: absolute;
        left:0;
        bottom:rem(4);
        z-index:-1;
      }
    }
    &Dec {
      margin-top:rem(2);
      font-size:rem(14);
      line-height:1.4;
      font-weight:500;
      color:$gray;
    }
    &Sub {
      font-size:rem(18);
      color:$black;
      font-weight:700;
      line-height:1.6;
      span {
        position: relative;
        color: #ff3e3e;
        &.-underLine:before {
          content:"";
          width:100%;
          height:rem(4);
          background:#fcc;
          position: absolute;
          left:0;
          bottom:rem(4);
          z-index:-1;
        }
      }
    }
    .btn_switch {
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);
    }
  }
  &__hr {
    height:rem(16);
    background:#F5F7F9;
    display:block;
    border:none;
    margin:rem(30) rem(-20);
    padding:0 rem(20);
  }
  &__btnTooltip {
    display:inline-block;
    @include iconTooltip();
    @include txtHidden();
    line-height:rem(22);
  }
  &__txtCaution {
    font-size:rem(12);
    line-height:1.3;
    color:$gray;
  }
}

.planRate {
  position: relative;
  &__inner {
    position: relative;
    padding-bottom:rem(20);
  }
  &__txt {
    position: absolute;
    font-size:rem(12);
    color:#ff3e3e;
    font-weight: 700;
    bottom:0;
    &.-start {
      left:0;
      text-align:left;
    }
    &.-end {
      right:0;
      text-align:right;
      color:#FF8080;
    }
  }
  &__img {
    position: absolute;
    width:35.8125%;
    height:auto;
    aspect-ratio: 160 / 130;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    &[data-per^="0"],
    &[data-per^="1"] {
      background-image: url("../img/theme/apthefin/svg/img_plan_0per.svg");
      background-repeat: no-repeat;
      background-size:cover;
    }
    &[data-per^="2"],
    &[data-per^="3"] {
      background-image: url("../img/theme/apthefin/svg/img_plan_20per.svg");
      background-repeat: no-repeat;
      background-size:cover;
    }
    &[data-per^="4"],
    &[data-per^="5"] {
      background-image: url("../img/theme/apthefin/svg/img_plan_40per.svg");
      background-repeat: no-repeat;
      background-size:cover;
    }
    &[data-per^="6"],
    &[data-per^="7"] {
      background-image: url("../img/theme/apthefin/svg/img_plan_60per.svg");
      background-repeat: no-repeat;
      background-size:cover;
    }
    &[data-per^="8"],
    &[data-per^="9"] {
      background-image: url("../img/theme/apthefin/svg/img_plan_80per.svg");
      background-repeat: no-repeat;
      background-size:cover;
    }
    &[data-per="100"] {
      background-image: url("../img/theme/apthefin/svg/img_plan_100per.svg");
      background-repeat: no-repeat;
      background-size:cover;
    }
  }
  &__per {
    padding:rem(6);
    font-size:rem(13);
    text-align:center;
    line-height:1;
    color:$gray;
    letter-spacing: rem(-0.23);
    font-weight:600;
    background:#fff;
    border-radius:rem(8);
    position: absolute;
    left:50%;
    top:17.6470588%;
    transform:translateX(-50%);
    white-space: nowrap;
    box-shadow: rem(0) rem(2) rem(8) rem(0) rgba(0, 0, 0, 0.16);
    z-index:10;
    &:after {
      content:"";
      width:0;
      height:0;
      border-top:rem(7) solid #fff;
      border-left:rem(7) solid transparent;
      border-right:rem(7) solid transparent;
      border-bottom:rem(7) solid transparent;
      position: absolute;
      left:50%;
      bottom:rem(-13);
      margin-left:rem(-7);
    }
  }
  &.-cerScore {
    padding-bottom:rem(45);
    .planRate__per {
      top:rem(-15);
      color:$black;
    }
  }
}

.planProgress {
  position: relative;
  overflow:hidden;
  width:calc(100% - rem(60));
  margin:rem(23) auto 0;
  &__bg {
    width:100%;
    height:auto;
    aspect-ratio: 273 / 136;
    background:url("../img/theme/apthefin/svg/bg_bar.svg") no-repeat 0 0;
  }
  &__bar {
    width:100%;
    height:100%;
    position: absolute;
    left:0;top:0;
  }
  &__mask {
    height:10%;
    width:10%;
    position: absolute;
    z-index:10;
    background:red;
    mask-image: url("../img/theme/apthefin/svg/inner_bar.svg");
    left:0;
    top:0;
  }
  #planProgress__bar {
    transition: transform 1s .3s;
    transform: rotate(-180deg);
    transform-origin: center bottom;
  }
}

.planTarget {
  border:rem(1) solid #DDE3E7;
  border-radius: rem(10);
  overflow:hidden;
  display:block;
  &__info {
    padding:rem(16) rem(20);
    background:#F5F7F9;
    position: relative;
  }
  &__type {
    border-radius: rem(20);
    border:rem(1) solid #ff4747;
    padding:rem(1) rem(6);
    color:#ff4747;
    font-size:rem(10);
    font-weight:700;
    line-height:rem(16);
    letter-spacing: rem(-0.4);
    display:inline-block;
  }
  &__name {
    font-size:rem(16);
    color:$black;
    font-weight:600;
    line-height:1.6;
    margin-top:rem(4);
    position: relative;
    @include ellipsis(2);
    width: calc(100% - rem(50));
  }
  &__size {
    margin-top:rem(2);
    font-size:rem(13);
    color:$gray;
    line-height:rem(18);
  }
  &__price {
    padding:rem(10) rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__now {
    font-size:rem(14);
    font-weight:500;
    line-height:1;
    color:$gray;
  }
  &__won {
    font-size:rem(16);
    font-weight:700;
    line-height:rem(26);
    color:$black;
  }
  &__link {
    position: absolute;
    right:rem(20);
    top:50%;
    transform: translateY(-50%);
    display:flex;
    align-items: center;
    font-size:rem(14);
    color:#3e5fac;
    font-weight:600;
    line-height: rem(18);
    &:visited {color:#3e5fac;}
    &:after {
      content:"";
      @include iconArrow18x18(#3e5fac);
      display:block;
    }
  }
}
.planSec {
  padding:rem(20);
  border:rem(1) solid #dde3e7;
  border-radius: rem(12);
  position: relative;
  &.-noBorder {
    border:none;
    padding:0;
  }
  &.-notLink {
    position: relative;
    &:after {
      content:"데이터에 연결되어있지 않음 문구";
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height:100%;
      position: absolute;
      left:0;
      top:0;
      border-radius: rem(12);
      opacity: 0.8;
      background: var(--font-ffffff, #FFF);
      backdrop-filter: blur(rem(2));
      font-size:rem(16);
      line-height:1.5;
      color:$black;
      font-weight:500;
    }
  }
  &__tit {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:rem(18);
    color:$black;
    &Eff {
      position: relative;
      display:inline-block;
      &:after {
        content:"";
        display:block;
        width:100%;
        position: absolute;
        left:0;
        bottom:rem(4);
        height:rem(4);
        z-index:-1;
      }
    }
    &Num {
      color:#ff5353;
    }
    &Right {
      font-size:rem(18);
      color:$black;
      font-weight:700;
      line-height:rem(26);
      display: flex;
      align-items: center;
      span {
        font-size:rem(16);
        font-weight:500;
        line-height:rem(24);
      }
      &:after {
        content:"";
        display:block;
        @include iconArrow18x18();
      }
    }
  }
  &__subTit {
    font-size:rem(13);
    font-weight:500;
    line-height:1;
    color:#455057;
  }
  &.-hi,&.-low {
    .savegoGraph__topTxt {
      font-weight:700;
      letter-spacing: rem(-0.23);
    }
    .planSec__titEff {color:#FF3E3E}
    .savegoGraph__item {
      &.-left {
        .savegoGraph__topTxt {
          border:none;
          padding:0;
          box-shadow: none;
          position: initial;
          color:#FF3E3E;
          height:auto;
          width:auto;
          &:after{display:none}
        }
        .savegoGraph__bar {background-color:#CF2929}
        .savegoGraph__inner {background-color:#FF3E3E}
      }
      &.-center {
        .savegoGraph__topTxt,
        .savegoGraph__txt {color:#661818}
        .savegoGraph__bar {background-color:#661818}
      }
      &.-right {

      }
    }
    .savegoGraph__line {
      left:rem(20);
      transform: none;
      &.-active {
        width:calc(50% - rem(20));
      }
    }
  }
  &.-low {

  }
}

.planMore {
  font-size:rem(14);
  line-height:1.3;
  font-weight:500;
  color:$black;
  display:flex;
  align-items: center;
  &:after {
    content:"";
    @include iconBtnMore();
    display:block;
  }
}

.savegoGraph {
  margin:rem(30) auto 0;
  width:calc(100% - 27%);
  height:rem(170);
  display: flex;
  justify-content: space-between;
  text-align:center;
  position: relative;
  &__inner {
    color:#fff;
    font-size:rem(13);
    font-weight:700;
    line-height:1;
    letter-spacing: rem(-0.23);
    width:100%;
    position: absolute;
    left:0;
    bottom:0;
    border-radius:rem(4);
    display:flex;
    justify-content: center;
    align-items: center;
    &.-low {
      span {
        position: absolute;
        top:rem(-15);
        color:#333;
      }
    }
  }
  &__item {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;


  }
  &__topTxt {
    font-size:rem(13);
    line-height:rem(20);
    letter-spacing: rem(-0.23);
  }
  &__bar {
    width:rem(40);
    border-radius: rem(4);
    background:#dde3e7;
    height:0%;
    max-height:rem(122);
    position: relative;
    margin:0 auto;
    transition: height .5s;
    overflow:hidden;
  }
  &__txt {
    font-size:rem(13);
    font-weight:700;
    color:#17181a;
    line-height:rem(20);
    letter-spacing: rem(-0.23);
  }
  &__line {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    width:0;
    height:rem(1);
    border-top:rem(1) dashed $black;
    transition: width .3s;
    &.-active {
      width:calc(100% - rem(40));
    }
  }
  .-left {
    .savegoGraph__topTxt {
      border-radius: rem(4);
      background:#fff;
      font-size:rem(13);
      width:rem(45);
      height:rem(21);
      display: flex;
      justify-content: center;
      align-items: center;
      color:#6f7a81;
      position: relative;
      box-shadow: rem(0) rem(2) rem(6) rem(0) rgba(0, 0, 0, 0.16);
      z-index:10;
      bottom:rem(10);
      &:after {
        content:"";
        display:block;
        border-top:rem(7) solid #fff;
        border-left:rem(7) solid transparent;
        border-right:rem(7) solid transparent;
        border-bottom:rem(7) solid transparent;
        position: absolute;
        left:50%;
        margin-left:rem(-7);
        bottom:rem(-13);
      }
    }
  }
  //지출 적정
  @at-root .planSec.-good {
    .planSec__titEff {
      color:#12CA98;
      &:after {
        background-color:#D0F9ED;
      }
    }
    .-left {
      .savegoGraph__bar {background:#DEF0EB}
      .savegoGraph__inner {background:#12CA98;}
    }
    .savegoInfo__today:before {background:#12CA98}
    .savegoInfo__per {color:#12CA98}
  }
  //지출 과다
  @at-root .planSec.-bed {
    .planSec__titEff {
      color:#FF3E3E;
      &:after {background-color:#F6E5E5}
    }
    .-left {
      .savegoGraph__bar {background:#F6E5E5;}
      .savegoGraph__inner {background:#FF3E3E}
    }
    .savegoInfo__today:before {background:#FF3E3E}
    .savegoInfo__per {color:#FF3E3E}
  }
  //30대 기준
  @at-root .planSec.-year30 {
    .-center {
      .savegoGraph__bar {background:#DDE3E7}
    }
    .-right {
      .savegoGraph__bar {background:#172733}
    }
  }
  //내평균
  @at-root .planSec.-my {
    .-center {
      .savegoGraph__bar {background:#172733}
    }
    .-right {
      .savegoGraph__bar {background:#DDE3E7}
    }
  }
  //신용점수 뷰페이지
  &.-viewPage {
    .-right {
      color:#B0B9C0;
      .savegoGraph__txt {color:#B0B9C0;}
    }
  }
}

.planBanner {
  display:block;
  border-radius: rem(10);
  padding:rem(20);
  background:#fcf3f0 url("../img/theme/apthefin/banner_plan.png") no-repeat calc(100% - rem(30)) calc(100% - rem(20));
  background-size:rem(160) rem(160);
  width:100%;
  aspect-ratio: 327 / 276;
  &__tit {
    font-size:rem(20);
    color:$black;
    font-weight:500;
    line-height:1.4;
    strong {
      font-weight:700;
      color:#FC603B;
    }
  }
  &__btn {
    color:#fc603b;
    font-size:rem(13);
    margin-top:rem(6);
    display:flex;
    align-items: center;
    font-weight:500;
    &:after {
      content:"";
      width:rem(16);
      height:rem(16);
      background:url("../img/theme/apthefin/icon/ic_banner_arrow.png") no-repeat 0 0;
      background-size:cover;
      display:inline-block;
    }
  }
}

.planCaution {
  margin:rem(30) rem(-20) rem(-20);
  padding:rem(24) rem(24) rem(40);
  background:#f5f7f9;
  &__tit {
    font-size:rem(14);
    color:$gray;
    line-height:1.3;
    font-weight:500;
  }
  &__list {
    margin-top:rem(4);
    li {
      display:block;
      padding-left:rem(6);
      font-size:rem(12);
      color:$gray;
      position: relative;
      line-height:1.3;
      &:before {
        content:"";
        display:block;
        width:rem(2);
        height:rem(2);
        border-radius: 50%;
        background:$gray;
        position: absolute;
        left:0;
        top:rem(6);
      }
    }
  }
}
.borrowgoProgress {
  position: relative;
  @include clearFix();
  &__bar {
    appearance: none;
    width:100%;
    &::-webkit-progress-bar {
      background:#ff3e3e;
      border-radius: rem(200);
      height:rem(12);
    }
    &::-webkit-progress-value {
      background:#FFE5E5;
      border-radius: rem(200);
      height:rem(12);
    }
  }
  &__txt {
    display:inline-block;
    margin-top:rem(4);
    font-size:rem(12);
    line-height:1;
    font-weight:500;
    &.-left {
      color:#ff8080;
      float:left;
    }
    &.-right {
      float:right;
      color:#ff3e3e;
      text-align:right;
    }
  }
}
.borrowgoBox {
  padding:rem(16) rem(24);
  background:#F5F8FC;
  border-radius:rem(10);
  margin-top:rem(30);
  &__item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-of-type) {
      border-top:rem(1) solid #dde3e7;
      padding-top:rem(10);
      margin-top:rem(10);
    }
  }
  &__tit {
    font-size:rem(14);
    line-height:rem(18);
    color:#455057;
  }
  &__num {
    font-size:rem(16);
    font-weight:600;
    line-height:rem(26);
    color:$black;
    span {font-size:rem(14);font-weight:500;margin-left:rem(2)}
    &.-link {
      position: relative;
      display: flex;
      align-items: center;
      &:after {
        content:"";
        display:block;
        @include iconArrow18x18();
      }
    }
  }
}

.collectgo {
  &__item {
    display:flex;
    align-items: center;
    &:not(:first-of-type) {
      margin-top:rem(20);
    }
    &:nth-child(1) {
      .collectgo__bar{background-color:#FCC;}
    }
    &:nth-child(2) {
      .collectgo__bar{background-color:#FFE5E5;}
    }
    &:nth-child(3) {
      .collectgo__bar{background-color:#FFF2F2;}
    }
    &.-self {
      .collectgo__img {background-color:#985CD3}
      .collectgo__bar {background-color:#E0CEF1}
    }
    &.-lease {
      .collectgo__img {background-color:#4E8FF0}
      .collectgo__bar {background-color:#C9DDFA}
    }
    &.-monthly {
      .collectgo__img {background-color:#69B556}
      .collectgo__bar {background-color:#D2E9CC}
    }
    .chkBox {
      display:none;
      position: absolute;
      right:0;
    }
  }
  &__img {
    display:flex;
    width:rem(40);
    height:rem(40);
    border-radius: 50%;
    overflow:hidden;
    margin-right:rem(10);
    justify-content: center;
    align-items: center;
    img {display:block;width:100%;height:100%}
    color:#fff;
    font-size:rem(13);
    font-weight:700;
    line-height:1;
    flex-shrink: 0;
  }
  &__tit {
    font-size:rem(13);
    font-weight:500;
    color:#455057;
    line-height:1;
    @include ellipsis();
  }
  &__box {
    width:calc(100% - rem(50));
  }
  &__bar {
    margin-top:rem(4);
    height:rem(26);
    border-radius: rem(4);
    position: relative;
    padding:rem(4) 0;
    box-sizing:border-box;
    width:0%;
    transition: width .5s;
  }
  &__txt {
    text-align:right;
    font-size:rem(14);
    line-height:1.3;
    color:$black;
    font-weight:500;
    white-space: nowrap;
    padding:0 rem(10);
  }
  &.-noBar {
    .collectgo__bar {
      width:0 !important;
      height:auto;
      padding:0;
    }
    .collectgo__txt {
      padding:0;
      font-size:rem(16);
      line-height:1.3;
    }
  }
  &Tit {
    &__bank {
      display:flex;
      margin-bottom:rem(4);
      font-size:rem(16);
      font-weight:500;
      line-height:1;
      color:#455057;
      align-items: center;
      .plan__btnTooltip {margin-left:rem(4);}
    }
    &__num {
      font-size:rem(30);
      color:#333;
      font-weight:700;
      line-height:rem(36);
      letter-spacing: rem(-0.6);
    }
    &__won {
      font-size:rem(18);
      font-weight:700;
      line-height:rem(26);
      color:#333;
    }
  }
  &__allSelect {
    position: absolute;
    top:0;
    right:0;
    font-size:rem(13);
    font-weight:500;
    line-height:1;
    color:#455057;
    display:none;
  }
}


.savegoInfo {
  border:rem(1) solid #D8DEE7;
  border-radius:rem(8);
  padding:rem(18) rem(20);
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:rem(1) solid #d8dee7;
    padding-bottom:rem(10);
    margin-bottom:rem(10);
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tit {
    font-size:rem(14);
    color:$black;
    font-weight:500;
  }
  &__day {
    font-size:rem(12);
    color:$gray;
    font-weight:500;
  }
  &__today {
    font-size:rem(14);
    font-weight:500;
    line-height:1.6;
    color:#59656d;
    display: flex;
    align-items: center;
    &:before {
      content:"";
      width:rem(6);
      height:rem(6);
      margin-right:rem(8);
      border-radius: 50%;
      display:inline-block;
      background:#12ca98;
    }
  }
  &__won {
    font-size:rem(14);
    color:$black;
    font-weight:700;
    line-height:1.6;
    text-align:right;
  }
  &__result {
    margin-top:rem(10);
    color:$gray;
    font-size:rem(14);
    font-weight:600;
    line-height:1.6;
    text-align:center;
    padding:rem(10);
    background:#F5F7F9;
    border-radius:rem(4);
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content:"";
      display:inline-block;
      @include iconPaperColor();
      margin-right:rem(2);
    }
  }
}

.planTabsCard {
  .tabs- {
    &header {
      padding:rem(4);
      border-radius: rem(11);
      background: var(--thefin-gray-120, #F5F7F9);
      gap:0 rem(4);
      border:none;
    }
    &nav {
      display:flex;
      color:#9ba4ab;
      font-weight:500;
      line-height:1;
      &.on {
        border-radius: rem(11);
        background: #fff;
        box-shadow: rem(0) rem(1) rem(2) rem(0) rgba(0, 0, 0, 0.10);
        color:#172733;
        &:after {display:none}
      }
    }
  }
}

.useCardList {
  /*counter-reset: useCard;*/
  li {
    display:flex;
    align-items: center;
    &:not(:first-of-type) {
      margin-top:rem(20);
    }
    /*&:before {
      counter-increment: useCard;
      content:counter(useCard);
      display:flex;
      width:rem(30);
      height:rem(28);
      justify-content: center;
      align-items: center;
      font-size:rem(16);
      font-weight:500;
      line-height:1;
      letter-spacing: rem(-0.32);
      margin-right:rem(10);
    }
    &:nth-child(-n+3):before {
      color:#ff3e3e;
    }*/
    &.-cancel {
      .useCardList__won,
      .useCardList__use,
      .useCardList__card,
      .useCardList__date {
        color:#9BA4AB;
      }
      .useCardList__cancel {color:#ff3e3e;}
    }
  }
  &__txt {
    flex-shrink: 0;
    flex:auto;
    /*padding-right:rem(10);*/
  }
  &__use {
    font-size:rem(16);
    color:$black;
    font-weight:500;
    line-height:rem(24);
    letter-spacing: rem(-0.32);
    display:block;
  }
  &__card {
    display: block;
    margin-top:rem(4);
    font-size:rem(13);
    font-weight:500;
    line-height:1.3;
    color:$gray;
  }
  &__right {
    text-align:right;
  }
  &__date {
    font-size:rem(13);
    color:#6f7a81;
    line-height: 1.3;
    margin-top:rem(2);
    i {display:inline-block;margin-left:rem(5)}
  }
  &__won {
    font-size: rem(17);
    font-weight:700;
    line-height:rem(24);
    color:$black;
    white-space: nowrap;
    display:flex;
    align-items: center;
    i {
      font-size:rem(15);
      font-weight:500;
      line-height:rem(23);
      margin-left:rem(1);
    }
  }
  &__allView {
    display:flex;
    width:100%;
    margin-top:rem(30);
    justify-content: center;
    align-items: center;
    font-size:rem(14);
    font-weight:500;
    line-height:rem(22);
    color:#333;
    height:rem(22);
    &:after {
      content:"";
      display:block;
      @include iconArrow16x16(bold);
    }
  }
}

.planTooltipTxt {
  display: inline-flex;
  align-items: center;
  padding:rem(8);
  color:$black;
  font-weight:500;
  line-height: 1;
  letter-spacing: rem(-0.23);
  font-size:rem(14);
  border-radius: rem(8);
  background: #FFF;
  box-shadow: 0 rem(2) rem(8) 0 rgba(0, 0, 0, 0.16);
  position: relative;
  margin-bottom:rem(15);
  &:after {
    content:"";
    display: block;
    border-top:rem(7) solid #fff;
    border-left:rem(7) solid transparent;
    border-right:rem(7) solid transparent;
    border-bottom:rem(7) solid transparent;
    position: absolute;
    left:rem(10);
    bottom:rem(-13);
  }
}

.savegoChart {
  width:calc(100% - rem(40));
  height:rem(190);
  margin:0 auto;
  position: relative;
  &__box {
    width:100%;
    height:100%;
  }
  &__toolTip {
    display: flex;
    padding: rem(8) rem(12);
    flex-direction: column;
    align-items: center;
    border-radius: rem(8);
    background: #FFF;
    position: relative;
    border:rem(1) solid red;
  }
  &__txt {
    color: #6F7A81;
    font-family: Pretendard;
    font-size: rem(11);
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* rem(14.3) */
    letter-spacing: rem(-0.23);
    position: absolute;
    z-index:100;
    left:0;
    top:0;
  }
  .highcharts-exporting-group {display:none !important;}
  .highcharts-credits,
  .highcharts-a11y-proxy-button {display:none}
}

.likeUser {
  border-radius: rem(8);
  border: rem(1) solid #DDE3E7;
  background: #F5F7F9;
  display: flex;
  padding:rem(18) rem(20);
  justify-content: space-between;
  &__tit {
    font-size:rem(14);
    font-weight:500;
    line-height:1;
    color:#59656D;
  }
  &__num {
    font-size:rem(14);
    color:$black;
    font-weight:500;
    line-height:1;
  }
}

.annualIncome {
  display: flex;
  padding: rem(10) rem(20);
  flex-direction: column;
  border-radius: rem(12);
  border: rem(1) solid #DDE3E7;
  font-size:rem(14);
  font-weight:500;
  line-height:1.6;
  &__top,&__bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom {
    padding-top:rem(10);
    margin-top:rem(10);
    border-top:rem(1) solid #dde3e7;
  }
  &__tit {
    color:#59656d;
    display:flex;
    align-items: center;
    &:before {
      content: "";
      display:block;
      margin-right:rem(8);
      width:rem(6);
      height:rem(6);
      border-radius: 50%;
      background:#d4dadf;
    }
  }
  &__won {
    color:$black;
  }
  &__top {
    .annualIncome__tit:before {background:#ff3e3e}
    .annualIncome__won {color:#ff3e3e}
  }
}


.chkBox {
  display:inline-block;
  span {
    background-image: url('../img/theme/apthefin/ic_circle_chk.png?0426');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: rem(20) auto;
    border: none;
    display:block;
    width:rem(40);
    height:rem(40);
    @include txtHidden();
  }
  input:checked + span {
    background-image: url('../img/theme/apthefin/ic_circle_chk_on.png');
  }
}

.asGroup.houseGroup .chkBox {display:none}
.content.editMode {
  .collectgo__item .chkBox {display:inline-block;}
  .collectgo__allSelect {display:block;}
  .asGroup.houseGroup {

    .state_contents {display:none}
    .state_top {background:#fff;position:relative}
    a {
      pointer-events: none;
      &:after {display:none}
    }
    .chkBox {
      position: absolute;
      right:0;
      top:50%;
      transform:translateY(-50%);
      display:block;
    }
  }
}

.addHouseBtn {
  display:flex;
  align-items: center;
  border-radius: rem(16);
  border: rem(1) solid var(--border-border, #E5E5E5);
  background: var(--font-ffffff, #FFF);
  position: relative;
  font-size: rem(16);
  font-weight: 600;
  line-height:1.6;
  color:#3e5fac;
  padding:rem(20);
  &:before {
    content:"";
    background:url('../img/theme/apthefin/icon/ic_pink_plus.png') no-repeat 0 0;
    width:rem(16);
    height:rem(16);
    display:block;
    background-size:cover;
    margin-right:rem(6);
  }
  &:after {
    content:"";
    display:block;
    position: absolute;
    right:rem(20);
    top:50%;
    transform: translateY(-50%);
    @include iconArrow18x18();
  }
}

.cerScore {
  text-align:center;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:rem(5);
  &__tit {
    font-size:rem(14);
    color:$gray;
    font-weight:500;
    line-height:1.3;
  }
  &__num {
    margin-top:rem(4);
    font-size:rem(30);
    font-weight:600;
    line-height:1;
    color:#ff3e3e;
  }
  &__btn {
    display:flex;
    margin:rem(10) auto 0;
    border-radius: rem(100);
    border: rem(1) solid #DDE3E7;
    padding:rem(4) rem(5) rem(4) rem(10);
    font-size:rem(14);
    color:gray;
    align-items: center;
    &:after {
      content: "";
      @include iconArrow18x18();
    }
  }
  &__up {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: rem(8);
    border: rem(1) solid #DDE3E7;
    font-size:rem(16);
    font-weight:500;
    line-height: 1;
    padding:rem(18) rem(20);
    color:$black;
    &:before {
      content:"";
      @include iconSpeedBar();
      display:block;
      margin-right:rem(10);
    }
    &:after {
      content:"";
      @include iconArrowPlan;
      display:block;
      right:rem(20);
      top:calc(50% - rem(9));
      position: absolute;
    }
  }
}
.cerChart {
  width:100%;
  height:rem(90);
  margin-top:rem(10);
}

.chkLoanBanner {
  display: block;
  padding:rem(16) rem(20);
  border-radius: rem(10);
  border: rem(1) solid #DDE3E7;
  background: #F5F8FC url('../img/theme/apthefin/banner_chkloan.png') no-repeat calc(100% - rem(20)) center;
  background-size:rem(57) auto;
  &__dec {
    color: #455057;
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(22);
  }
  &__tit {
    color: #985CD3;
    font-size: rem(18);
    font-style: normal;
    font-weight: 700;
    line-height: rem(26);
  }
}
.searchChkLoan {
  &__day {
    font-size:rem(14);
    font-weight:500;
    line-height:1.6;
    color:#59656d;
    margin-top:rem(30);
  }
  &__list {
    li {
      display:block;
      position: relative;
      padding-left:rem(50);
      min-height:rem(40);
      &:not(:first-of-type) {margin-top:rem(30)}
      &:before {
        content:"";
        display:block;
        margin-right:rem(10);
        vertical-align: middle;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
      }
      /*&:after {
        content:"";
        @include iconArrowPlan;
        position: absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        display:block;
      }*/
      &.-typeBank:before {@include iconBankType()}
      &.-typeCard:before {@include iconCardType()}
    }
  }
  &__type {
    display:block;
    font-size:rem(16);
    color:$black;
    font-weight:600;
    line-height:1;
  }
  &__info {
    display: block;
    margin-top:rem(6);
    font-size:rem(14);
    color:$gray;
    font-weight:500;
    line-height:1;
  }
  &__btnMore {
    margin:rem(40) auto;
    display: flex;
    padding: rem(10) rem(20);
    justify-content: center;
    align-items: center;
    color:$gray;
    font-size:rem(14);
    line-height:1.3;
    font-weight:500;
    border-radius: rem(100);
    background:#EEF2F5;

  }
}

.disconnectLink {
  position: absolute;
  left:0;top:0;
  width:100%;
  height:100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(rem(2));
  z-index:10;
  flex-direction: column;
  &__txt {
    font-size:rem(16);
    font-weight:500;
    line-height: rem(24);
    color:#17181A;
  }
  &__btn {
    display: flex;
    margin-top:rem(20);
    color:#3e5fac;
    font-weight:700;
    font-size:rem(15);
    line-height:rem(22);
    align-items: center;
    &:visited {color:#3e5fac;}
    &:after {
      content:"";
      display:inline-block;
      @include iconArrow16x16(blue);
    }
  }
}

.planRate,.planSec {
  &.-noLink {
    border:none;
    .disconnectLink {display: flex}
  }
}

//선호아파트
.favorAptList {
  display: flex;
  flex-direction: column;
  gap:rem(10) 0;
  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding:rem(20);
    border-radius: rem(16);
    border:rem(1) solid #E5E5E5;
  }
  &__name {
    font-size:rem(16);
    line-height:1.6;
    font-weight:500;
    color:$black;
    @include ellipsis(2);
    width:calc(100% - rem(30));
  }
  &__area {
    font-size:rem(13);
    line-height:1.8;
    color:$gray;
  }
  &__chk {
    position: absolute;
    right:rem(20);
    top:50%;
    transform: translateY(-50%);
    width:rem(20);
    height:rem(20);
    span {
      @include txtHidden;
      display:flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height:100%;
      border-radius: 50%;
      border:rem(1) solid #E5E5E5;
    }
    input:checked+span {
      border-color:#3e5fac;
      &:after {
        content:"";
        display: block;
        width:rem(11);
        height:rem(11);
        background:#3e5fac;
        border-radius: 50%;
      }
    }
  }
}

.emptyHouse {
  position: fixed;
  display:flex;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  span {
    font-size:rem(15);
    color:#999;
    font-weight:500;
    line-height:rem(22);
    text-align:center;
    display:block;
    &:before {
      content:"";
      width:rem(177);
      height:rem(150);
      background:url("../img/theme/apthefin/svg/img_house_ept.svg") no-repeat 0 0;
      display:block;
      margin:0 auto rem(20);

    }
  }
}