@charset "UTF-8";

.qna {
  margin-top:rem(30);
  padding-bottom:rem(40);
  .accBox {
    border:none;
    border-radius: 0;
    &-item {border:none}
    &-tit {
      padding:rem(20) rem(20) rem(20) rem(24);
      font-size:rem(14);
      color:#333;
      line-height:rem(22);
      border-bottom:rem(1) solid #E5E5E5;
      &:after {display:none}
      &:before {
        content:"Q.";
        font-weight:700;
        position: absolute;
        left:0;
        top:rem(20);
      }
    }
    &-content {
      background:#f1f2f5;
      border-top:none;
    }
  }
}